.main-index {
  width: 100%;
  height: 458px;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media all and (min-width: 768px) {
    height: 963px;
  }

  &__image {
    margin: 85px 35px 35.4px 35px;
    width: 250px;
    height: 73px;
    @media all and (min-width: 768px) {
      margin: 280px 174px 31px 174px;
      width: 440px;
      height: 135px;
    }
  }

  &__title {
    width: 223px;
    height: 24px;
    font-family: $font-title;
    font-size: 19.2px;
    font-weight: 900;
    color: $color-backgroun-primary;
    margin: 0 49.3px 0 47.7px;
    @media all and (min-width: 768px) {
      width: 278px;
      height: 31px;
      font-size: 24px;
    }
  }

  &__paragraph {
    width: 264.8px;
    height: 38.4px;
    font-family: $font-main;
    font-size: 12.8px;
    font-weight: 600;
    text-align: center;
    color: $color-font-primary;
    margin: 0 28px 0 27.7px;
    @media all and (min-width: 768px) {
      width: 331px;
      height: 48px;
      font-size: 16px;
    }
  }

  &__icons {
    width: 268px;
    height: 73.8px;
    border-radius: 4px;
    border: solid 1.6px rgba(225, 115, 52, 0.21);
    margin: 17.8px 26.4px 38.6px 25.6px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;

    @media all and (min-width: 768px) {
      width: 325px;
      height: 86px;
      border-radius: 5px;
      border: solid 2px rgba(225, 115, 52, 0.21);
      padding: 15px 20px 10px 15px;
      margin-bottom: 155px;
    }
  }

  &__icons-container {
    font-size: 22.4px;
    color: $color-backgroun-primary;
    text-align: center;
    @media all and (min-width: 768px) {
      font-size: 28px;
    }
  }

  &__icons-paragraph {
    font-family: $font-main;
    font-size: 12.8px;
    color: #54585a;
    @media all and (min-width: 768px) {
      font-size: 16px;
    }
  }

  &__button-container {
    width: 129px;
    height: 42px;
    border-radius: 21px;
    background-color: #438792;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      transform: scale(0.98);
      background-color: $color-backgroun-primary;
    }
  }

  &__button {
    text-decoration: none;
    font-family: $font-main;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    color: $color-white;
  }
}
