.fill {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__form {
    width: 281px;
    padding-bottom: 17px;

    @media all and(min-width:768px) {
      width: 329px;
    }

    .label {
      display: block;
      margin-bottom: 7px;
      font-family: $font-main;
      font-size: 14px;
      line-height: 20px;
      color: $color-font-secondary;
    }
  }

  &__input {
    display: block;
    font-family: $font-main;
    font-size: 14px;
    line-height: 20px;
    color: $color-input;
    border: 1px solid $color-tertiary;
    width: 281px;
    height: 30px;
    margin-bottom: 13px;
    padding-left: 9px;
    outline-color: $color-backgroun-primary;

    @media all and(min-width:768px) {
      width: 329px;
      height: 30px;
    }

    &::placeholder {
      color: $color-input;
    }
  }

  &__name {
    margin-top: 25px;
  }
}

.action {
  display: flex;
  margin-bottom: 7px;

  &__upload-btn {
    background: $color-backgroun-primary;
    width: 140px;
    height: 30px;
    border-radius: 3px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.32);
    border: none;
    color: $color-white;
    font-family: $font-main;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 20px;
    outline-color: $color-backgroun-primary;
  }

  &__hiddenField {
    /* Ocultamos el input de tipo "file" porque no podemos 
    darle los estilos que queremos */
    display: none;
  }
}

.profile {
  margin: 0 auto;
  display: flex;
  justify-content: center;

  &__preview {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid $color-tertiary;
    width: 30px;
    height: 30px;
    margin-right: 70px;
  }
}
