.share {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.create-card__button {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 10px 5px;
}
.create-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 220px;
  height: 50px;
  background-color: $color-backgroun-primary;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.32);
  border: none;
  border-radius: 12px;
  margin: 30px 55px 30px 51px;
  outline-style: none;
  padding: 0 12px;
  &__color {
    background-color: #d5d5d5;
  }
}
.create-card:hover {
  transform: scale(1.03);
}

.button__created-title {
  font-size: 18px;
  font-family: $font-main;
  font-weight: 600;
  color: white;
  text-transform: uppercase;
  margin-right: 8px;
  /* margin: 13px 13px 13px 0px; */
  display: flex;
}

.created-card__button-icon {
  font-size: 24px;
  margin: 20px 4px 20px 8px;
  color: white;
}
