@import "../core/variables";

.design {
  width: 100%;
  margin: auto;
  margin-top: 17px;

  &__title {
    border-top: 1px #d8d8d8 solid;
    padding-bottom: 7px;
    // padding: 0 60px;
    width: 280px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    &:hover {
      transform: scale(1.01);
      // -webkit-box-shadow: 5px 5px 60px -16px rgba(229, 188, 40, 1);
      // -moz-box-shadow: 5px 5px 60px -16px rgba(229, 188, 40, 1);
      // box-shadow: 5px 5px 60px -16px rgba(229, 188, 40, 1);
      // -webkit-box-shadow: 3px 3px 42px -6px rgba(229, 188, 40, 1);
      // -moz-box-shadow: 3px 3px 42px -6px rgba(229, 188, 40, 1);
      // box-shadow: 3px 3px 42px -6px rgba(229, 188, 40, 1);
      // -webkit-box-shadow: 5px 5px 60px 10px rgba(230, 164, 65, 1);
      // -moz-box-shadow: 5px 5px 60px 10px rgba(230, 164, 65, 1);
      // box-shadow: 5px 5px 60px 10px rgba(230, 164, 65, 1);
    }

    @media all and(min-width:768px) {
      width: 329px;
      // padding: 0px 40px;
    }

    .icon-up {
      // color: $color-button;
      font-size: 19px;
      margin-top: 12px;
      color: rgba(229, 188, 40, 1);

      &-move {
        animation-name: arrow;
        animation-duration: 3s;
        animation-iteration-count: 1;
      }

      @keyframes arrow {
        0% {
          transform: rotate(360deg);
        }
      }
    }
  }

  &__title-container {
    display: flex;

    .icon-design {
      margin: 10px 10px 0 0px;
      font-size: 18px;
      color: $color-backgroun-primary;
    }
  }

  &__main-title {
    font-size: 18px;
    margin-top: 10px;
    color: $color-button;
    font-family: $font-main;
    font-weight: 600;
    text-transform: uppercase;
  }

  &__palette-title {
    color: $color-button;
    font-size: 14px;
    font-family: $font-main;
    margin: 22px 0 0 20px;
    text-transform: uppercase;

    @media all and (min-width: 768px) {
      margin: 22px 0 0 0;
    }
  }

  &__palette {
    width: 281px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;

    @media all and(min-width:768px) {
      width: 329px;
    }
  }

  &__palette-color {
    margin-top: 28px;
    display: flex;
  }
}

.hidden {
  display: none;
}

/////////////////////////

.palettes {
  width: 17px;
  height: 17px;
  margin-right: 10px;
  margin-top: 4px;
}

.box-color {
  width: 30px;
  height: 25px;
}

.green__1 {
  background-color: $color-font-secondary;
}

.green__2 {
  background-color: $color-quaternary;
}

.green__3 {
  background-color: $color-tertiary;
}
.random__1 {
  background-color: $color-palette4;
}

.random__2 {
  background-color: $color-palette5;
}

.random__3 {
  background-color: $color-palette6;
}

.red__1 {
  background-color: $color-palette1;
}

.red__2 {
  background-color: $color-palette2;
}

.red__3 {
  background-color: $color-palette3;
}
.border-title {
  border: none;
}
