@import "../core/variables";

.footer {
  border-top: solid 1px #d8d8d8;
  padding-top: 18px;
  width: 100%;
  height: 110px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media all and (min-width: 768px) {
    /*     margin-top: 21px; */
    height: 60px;
    flex-direction: row;
    justify-content: space-between;
    padding: 18px 40px 22px 40px;
  }
  &__copy {
    height: 20px;
    opacity: 0.5;
    font-family: $font-main;
    font-size: 14px;
    line-height: 1.43;
    color: #6b6b6b;
    padding: 18px 0 12px 0;
    @media all and (min-width: 768px) {
      padding-top: 0;
    }
  }
  &__logo {
    width: 70px;
    margin-top: 12px;
    @media all and (min-width: 768px) {
      width: 100px;
      margin: 5px 93px 5px 0;
    }
  }
  &__image {
    width: 103px;
    height: 40px;
    margin-bottom: 20px;
    @media all and (min-width: 768px) {
      margin: 10px 0;
    }
  }
}
