// core
@import "core/variables";
@import "core/reset";

// layout

@import "layout/design-form";
@import "layout/design-form-fill";
@import "layout/design-share";
@import "layout/design-card-has-been-created";
@import "pages/index";
