// core
@import "core/variables";
@import "core/reset";

// layout

// @import "layout/design-form-fill";
@import "layout/header";
@import "layout/footer";
@import "layout/cardGenerator";
@import "layout/collapsible";
@import "layout/form";
@import "layout/palette";
@import "layout/input";
@import "layout/getAvatar";
@import "layout/previewCard";
@import "layout/resetButton";
@import "layout/profile";
@import "layout/api";
@import "layout/landing";
