<section class="design">
  <div class="design__title js-form-title1 border-title" id="1">
    <div class="design__title-container" id="1">
      <i class="far fa-object-ungroup icon-design" id="1"></i>
      <h2 class="design__main-title" id="1">Diseña</h2>
    </div>
    <div class="design__down-up" id="1">
      <i class="far fa-gem icon-up js-arrow-up" id="1"></i>
    </div>
  </div>
  <div class="design__palette transition js-form-palette js-form">
    <h3 class="design__palette-title">Colores</h3>
    <div class="design__palette-color">
      <form action="#" class="js-palettes">
        <!-- asociado a JS -->
      </form>
    </div>
  </div>
</section>
