<section class="main" style="background-image: url('./assets/images/Fondo.jpg')">
  <div class="main__reset js-reset">
    <i class="far fa-trash-alt main__reset--trash"></i>
    <a class="main__reset--button" href="#">Reset</a>
  </div>

  <section class="main__photo js-card-container">
    <div class="main__photo--title js-title">
      <h4 class="name js-name">Nombre apellido</h4>
      <p class="description js-description js-job">Front-end developer</p>
    </div>
    <div class="main__photo--photo">
      <div
        class="profile__image js__profile-image"
        style="background-image: url(./assets/images/MM.jpg)"
      ></div>
    </div>
    <div class="main__photo--social">
      <a href="" class="js-icon-phone js-telephone" target="_blank" title="Teléfono"
        ><i class="icons js-icons fas fa-mobile-alt"></i
      ></a>
      <a href="" class="js-icon-mail js-email" target="_blank" title="Email"
        ><i class="icons js-icons far fa-envelope"></i
      ></a>
      <a href="" class="js-icon-linkedin js-linkedin" target="_blank" title="Linkedin"
        ><i class="icons js-icons fab fa-linkedin-in"></i
      ></a>
      <a href="" class="js-icon-github js-github" target="_blank" title="Github"
        ><i class="icons js-icons fab fa-github-alt"></i
      ></a>
    </div>
  </section>
</section>
