<section class="share">
  <div class="design__title js-form-title1" id="3">
    <div class="design__title-container" id="3">
      <i class="fas fa-share-alt icon-design" id="3"></i>
      <h2 class="design__main-title" id="3">Comparte</h2>
    </div>
    <div class="design__down-up" id="3">
      <i class="far fa-gem icon-up js-arrow-up" id="3"></i>
    </div>
  </div>
  <div class="js-form-card js-form">
    <form class="create-card hover js-button-created">
      <i class="far fa-address-card created-card__button-icon"></i>
      <input
        type="button"
        class="create-card__button button__created-title"
        value="Crear tarjeta"
      />
    </form>
  </div>
</section>
