<div class="card js-card card__hidden">
  <div class="card__created js-form-created">
    <h2 class="card__created-title">La tarjeta ha sido creada:</h2>
    <p class="card__created-link js-card-link"></p>
    <!-- imagino q esto sea un link a la tarjeta creada, no lo tengo claro -->
    <a target="_blank" class="button__twitter js-button-twitter">
      <i class="fab fa-twitter button__twitter-icon"></i>
      <h3 class="button__twitter-title">Compartir en twitter</h3>
    </a>
  </div>
</div>
