<main class="main-index">
  <img
    class="main-index__image"
    src="./assets/images/divas-cards.png"
    alt="Logo Awesome Cards"
    title="Logo Awesome Cards"
  />

  <h1 class="main-index__title">Crea tu tarjeta de visita</h1>
  <p class="main-index__paragraph">Crea mejores contactos profesionales de forma fácil y cómoda.</p>
  <div class="main-index__icons">
    <div class="main-index__icons-container">
      <i class="far fa-object-ungroup"></i>
      <p class="main-index__icons-paragraph">Diseña</p>
    </div>
    <div class="main-index__icons-container">
      <i class="far fa-keyboard"></i>
      <p class="main-index__icons-paragraph">Rellena</p>
    </div>
    <div class="main-index__icons-container">
      <i class="fas fa-share-alt"></i>
      <p class="main-index__icons-paragraph">Comparte</p>
    </div>
  </div>
  <div class="main-index__button-container">
    <a href="./design.html" class="main-index__button" title="Aquí para comenzar""
      >Comenzar</a
    >
  </div>
</main>
