// fonts
$font-main: "Open Sans", sans-serif;
$font-title: "Merriweather", serif;
$font-secondary: "Montserrat", sans-serif;
// colors
$color-backgroun-primary: #e17334;
$color-font-primary: #114e4e;
$color-font-secondary: #114e4e;
$color-secondary: #999;
$color-tertiary: #a2deaf;
$color-quaternary: #438792;
$color-button: #54585a;
$color-input: #c5c5c5;
$color-white: #fff;
$color-palette1: #420101;
$color-palette2: #bd1010;
$color-palette3: #e95626;
$color-palette4: #3e5b65;
$color-palette5: #eab052;
$color-palette6: #a0c0cf;
// $color-background-photo: linear-gradient(0deg, rgba(191, 205, 208, 1) 0%, rgba(221, 233, 237, 1) 100%);
